package {{packageName}};

import javax.annotation.Generated;

/**
 * {{description}}
 */
@Generated(value = "{{processorClassName}}")
public enum {{name}} {

{{#enumValues}}
    /** {{description}} */
    {{name}},
{{/enumValues}}

}
